#texte_c {
    color: rgb(86, 207, 255);
    text-align: center;
    
  }
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
.marketing h2 {
    font-weight: 400;
  }
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
#parrafo_1{
    text-align: center;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: #fdcfcf;
  }
body{
  background: linear-gradient(to bottom, rgb(172, 255, 255), white);
}

#subject{
  display: flexbox;
  justify-content: center;
  width: max-content;
    font-size: 16 px;
    font-weight: lighter;
    color: #000000;
}
.carro.compras{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
} 