#texte_c {
    color: rgb(86, 207, 255);
    text-align: center;
    
  }
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
.marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #fdcfcf;
  }

