.body-cont {
    background-color: rgb(235, 243, 0);
}

.body-home {
    background-color: rgb(229 223 168 / 91%);
    height: 1078px;
}

.marketing {
    height: 376px;
     border-radius: 15px;

}

.body-donaciones p {}

#texte_c {
    color: rgb(86, 207, 255);
    text-align: center;

}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

#parrafo_1 {
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fdcfcf;
}

.carousel {
    position: relative;
    border-radius: 358px;
}

.carousel-inner img {
    background-size: cover;
    height: 472px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}

.carousel-inner {
    overflow: hidden;
}

.body-Tienda {
    background-color: rgba(255, 255, 255, 0.725);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: #c2c2c2c2;
}






.tienda-titulo {
    padding-top: 20px;
}



.container-tarjetas {
    width: 100%;
    max-width: 1209px;
    min-width: 420px;
    height: 925px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* margin: 0px -162px; */
    padding-bottom: 477px;
    float: left;

}

.container-tarjetas .card {
    width: 20%;
    height: 415px;
    border-radius: 5px;
    box-shadow: 0 15px 15px rgb(0 0 0 / 20%);
    overflow: hidden;
    margin: 20px;
    transition: all 0.55s;
    background-color: #f1f0f0;
}

.container-tarjetas .card:hover {
    transform: translateY(2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.49);
    background-color: #a23535;
    color: aliceblue;
}


.container-tarjetas .card img {
    width: auto;
    max-height: 100%;
    cursor: pointer;
}




.container-tarjetas .card h4 {
    font-weight: 600;
    padding-top: 10px;
}

.container-tarjetas .card a {
    font-weight: 500;
    text-decoration: none;
    color: #ff4646;
}

.container-tarjetas .card a:hover {
    font-weight: 500px;
    text-decoration: none;
    color: #fa8b8b;
}


.info {
    text-align: left;
    margin: 19px;
}

/*************************************************************************************************************************** tienda_original *********************************************************************/
/*** tienda ***/


.sidenav {
    width: 100%;
    height: 53px;
    z-index: 1;
    overflow-x: hidden;
    padding: 0px;
    overflow: hidden;
    display: flex;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 8, 14);
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(229 223 168 / 93%);
}

.w-75 {
    width: 56% !important;
}

.sidenav a:hover {
    color: #000000;
    background: #d5c965;
}




html {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 950px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.img-fondo {
    width: 100%;
}



.card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;

    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

/* typography */
.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}

.card p {
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}


.container-min-widths {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 90%;
    width: 100%;
    max-width: 100%;
    max-height: 560px;
    min-height: max-content;
}

/*** footer ***/

footer {
    height: 70px;
    margin-top: 60px;
    background: linear-gradient(to bottom, rgb(254, 247, 203), white);

}

#sus {
    text-decoration: none;
}


@media all and (max-width: 768px) {
    nav {
        justify-content: space-around;
    }

    nav a.logo {
        flex: 100%;
    }

    .map {
        height: calc(100vh - 96px);
    }
}