{% extends 'layout.html' %}
{% load static %}
{% block content %}


<body class="body-about">
    <h1 class="tienda-titulo">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aliquam quod sit hic ducimus at laboriosam
        ex. Corporis cupiditate iusto nulla dignissimos fugiat. Voluptatum dicta accusamus labore ut asperiores
        doloribus nostrum dignissimos temporibus, ullam doloremque iusto illo natus facere porro soluta possimus. Nulla
        mollitia, tenetur deleniti eius vel impedit sequi sint explicabo veniam ipsa cum quos inventore, at quis harum
        laboriosam repellat cumque molestias? Suscipit, fuga veniam. Beatae quisquam, officiis qui culpa facere magnam
        esse alias pariatur facilis illo explicabo ipsa fuga consequatur totam eum tenetur omnis nemo debitis laborum
        iusto? Fugit odio distinctio, quo omnis expedita similique dolorem veniam.</p>


    <div class="container-tarjetas">

        <div class="card">
            <img src="{% static 'images/img1.jpg' %}">
            <h4>Naturaleza</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="{% static 'images/img2.jpg' %}">
            <h4>Comida</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="{% static 'images/img3.jpg' %}">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="{% static 'images/img1.jpg' %}">
            <h4>Naturaleza</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="{% static 'images/img2.jpg' %}">
            <h4>Comida</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="{% static 'images/img3.jpg' %}">
            <h4>Tecnología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
       
    </div>
    


</body>
{% endblock %}