{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
    <script src="{% static 'JS/tienda.js' %}"></script>
    <br>
    <br>

    <container>
        <div class="sidenav">
            <a class="nav-link" href="{% url 'perros' %}">Perritos 🐶</a>
            <a class="nav-link" href="{% url 'gatos' %}">Gatitos 🐱</a>
            <a class="nav-link" href="{% url 'aves' %}">Aves 🦜</a>

        </div>
    </container>
    <!--Contenido-->
    <div class="support-grid"></div>

    <div class="band">
        <div class="item-1" data-bs-toggle="modal" data-bs-target="#exampleModal111">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(../static/img/juguete01_ave.jpg);"></div>
                <article>
                    <h1>JUGETE PRA AVE CON TROZOS</h1>
                    <span>PETS R&S</span>
                    <h6 class="text primary">Precio: <span class="precio">$ 6990</span></h6>
                    <p class="card-text">Juguete para todo tipo de aves, ideal para morder y así dar horas de diversión.
                    </p>
                </article>
            </a>
        </div>
        <div class="item-2" data-bs-toggle="modal" data-bs-target="#exampleModal222">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(../static/img/columpio_ave.jpg);"></div>
                <article>
                    <h1>COLUMPIO PARA AVE</h1>
                    <span>PETS R&S</span>
                    <h6 class="text primary">Precio: <span class="precio">$ 3990</span></h6>
                    <p class="card-text">El columpio de madera y cuerda para loros es un juguete sencillo con el que los
                        pájaros se
                        podrán divertir durante horas</p>
                </article>
            </a>
        </div>
        <div class="item-3" data-bs-toggle="modal" data-bs-target="#exampleModal333">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(../static/img/tazon_ave.png);"></div>
                <article>
                    <h1>TAZON INOX</h1>
                    <span>PETS R&S</span>
                    <h6 class="text primary">Precio: <span class="precio">$ 9990</span></h6>
                    <p class="card-text">El Tazón Para Loro de acero inoxidable de Living World es un comedero ideal
                        para tu
                        pajarito</p>
                </article>
            </a>
        </div>
        <div class="item-4" data-bs-toggle="modal" data-bs-target="#exampleModal444">
            <a href="#" class="card">
                <div class="thumb" style="background-image: url(../static/img/juguete_ave.png);"></div>
                <article>
                    <h1>JUGUETE DE LORO</h1>
                    <span>R&S</span>
                    <h6 class="text primary">Precio: <span class="precio">$ 8990</span></h6>
                    <p class="card-text">La Tazón Para Loro de acero inoxidable de Living World es un comedero ideal
                        para tu
                        mascotas</p>
                </article>
            </a>

            </article>
            </a>
        </div>


        <!-- Modal --------------------------------------------------------------------------------- section-->

        <!-- Modal --------------------------------------------------------------------------------- section-->

        <!-- Modal --------------------------------------------------------------------------------- section-->

        <div class="modal fade" id="exampleModal111">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">JUGETE PRA AVE CON TROZOS</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <center>
                            <img src="{% static 'img/juguete01_ave.jpg' %}" alt="Fundacion huella animal" class="w-75">
                        </center>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, vitae pariatur sit iusto
                            incidunt delectus voluptatibus dignissimos, sapiente quo sed omnis. Dolorum delectus modi
                            blanditiis minima voluptates maiores eius ea.</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Comprar</a>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal222">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">COLUMPIO PARA AVE</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <center>
                            <img src="{% static 'img/columpio_ave.jpg' %}" alt="Fundacion huella animal" class="w-75">
                        </center>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis error, asperiores placeat
                            similique voluptatem recusandae voluptate dolor consequuntur quo amet ut mollitia soluta
                            veritatis cum facilis quas iste non eum?.</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Comprar</a>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal333">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">TAZON INOX</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <center>
                            <img src="{% static 'img/tazon_ave.png' %}" alt="Fundacion huella animal" class="w-75">
                        </center>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit blanditiis ab, dolores tenetur
                            sint neque provident asperiores fugiat, quia natus esse eveniet corrupti minima labore
                            tempora ad laborum necessitatibus illo!</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Comprar</a>

                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="exampleModal444">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">JUGUETE DE LORO</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <center>
                            <img src="{% static 'img/juguete_ave.png' %}" alt="Fundacion huella animal" class="w-75">
                        </center>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, nesciunt earum doloremque
                            similique nisi, alias corrupti quisquam eos atque et fugiat impedit voluptate? Debitis
                            reiciendis temporibus hic, velit beatae ipsa?</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Comprar</a>

                    </div>
                </div>
            </div>
        </div>



        </container>
        <br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br> <br>
        <br><br><br><br>
</body>
{% endblock %}