{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
    <script src="{% static 'JS/tienda.js' %}"></script>
    <br>
    <br>
    <!--Sidebar menu-->
    <container>
        <div class="sidenav">
            <a class="nav-link"  href="{% url 'perros' %}">Perritos 🐶</a>
            <a class="nav-link"  href="{% url 'gatos' %}">Gatitos 🐱</a>
            <a class="nav-link"  href="{% url 'aves' %}">Aves 🦜</a>

        </div>
        <!--Contenido-->
        <div class="support-grid"></div>

        <div class="band">
            <div class="item-1">
                <a href="#" class="card" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <div class="thumb" style="background-image: url(../static/img/hueso_perro.png);"></div>
                    <article>
                        <h1>DENTAL MANZANA LARGE</h1>
                        <span>Bam-bones</span>
                        <h6 class="text primary">Precio: <span class="precio">$ 10990</span></h6>
                        <p class="card-text">Formulación de Bambones con recubrimiento de TPR.</p>
                    </article>
                </a>
            </div>
            <div class="item-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <a href="#" class="card">
                    <div class="thumb" style="background-image: url(../static/img/correa_perro.png);"></div>
                    <article>
                        <h1>CORREA DE ENTRENAMIENTO ROJA</h1>
                        <span>CLUB P&G</span>
                        <h6 class="text primary">Precio: <span class="precio">$ 3990</span></h6>
                        <p class="card-text">Correa duradera, de mango suave y cómodo, incluso cuando un perro grande
                            tira.⁣⁣</p>
                    </article>
                </a>
            </div>
            <div class="item-3" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <a href="#" class="card">
                    <div class="thumb" style="background-image: url(../static/img/mochila_perro.png);"></div>
                    <article>
                        <h1>MALETA Y MOCHILA CON RUEDAS – ROJA</h1>
                        <span>CLUB P&G</span>
                        <h6 class="text primary">Precio: <span class="precio">$ 34990</span></h6>
                        <p class="card-text">Cuenta con una entrada de malla con cierre, prácticos bolsillos, funda
                            extraíble y
                            lavable y una correa para la seguridad del peludito.⁣</p>
                    </article>
                </a>
            </div>
            <div class="item-4" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                <a href="#" class="card">
                    <div class="thumb" style="background-image: url(../static/img/arnes_perro.png);"></div>
                    <article>
                        <h1>ARNES DE PERRO COLORES</h1>
                        <span>ZEEDOG</span>
                        <h6 class="text primary">Precio: <span class="precio">$ 13990</span></h6>
                        <p class="card-text">es la solución para los perros que tironean durante el paseo. Este arnés
                            conecta la
                            correa en el pecho y no en la espalda</p>
                    </article>
                </a>

                </article>
                </a>
            </div>

            <!-- Modal .................................................................................. section-->

            <div class="modal fade" id="exampleModal1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">DENTAL MANZANA LARGE</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <center>
                                <img src="{% static 'img/hueso_perro.png' %}" alt="Fundacion huella animal"
                                    class="w-75">
                            </center>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit expedita cumque quia
                                voluptatibus dolor recusandae, et neque minus non vitae perspiciatis ratione, numquam
                                aspernatur esse accusantium facere, nostrum soluta ipsa.
                            </p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                            class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModal2">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">CORREA DE ENTRENAMIENTO ROJA</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <center>
                                <img src="{% static 'img/correa_perro.png' %}" alt="Fundacion huella animal"
                                    class="w-75">
                            </center>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, minus perspiciatis
                                voluptas dolorum cum commodi sunt repudiandae ratione asperiores vitae mollitia atque
                                explicabo, nam ipsum? Similique laudantium assumenda molestiae eveniet!</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                                class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModal3">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">MALETA Y MOCHILA CON RUEDAS – ROJA</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <center>
                                <img src="{% static 'img/mochila_perro.png' %}" alt="Fundacion huella animal"
                                    class="w-75">
                            </center>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, repellat debitis.
                                Debitis laborum id quae maiores sit eveniet doloremque, aspernatur autem, est rerum
                                similique totam, ipsa aperiam facilis enim? Eaque!</p>
                            <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                                class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="exampleModal4">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">ARNES DE PERRO COLORES</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <center>
                                <img src="{% static 'img/arnes_perro.png' %}" alt="Fundacion huella animal"
                                    class="w-75">
                            </center>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam fuga similique
                                sapiente blanditiis nobis harum obcaecati excepturi, animi accusamus, quidem ut quia!
                                Quaerat iure tempore magnam placeat labore cumque.</p>
                                <a href="https://fundacionhuellaanimal.cl/" target="_blank" rel="noopener noreferrer"
                                class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>




    </container>
    <br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
</body>
{% endblock %}