{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
    <script src="{% static 'JS/tienda.js' %}"></script>
<br><br>

<div id="central">
  <container>
    <div class="sidenav">
      <a class="nav-link" id="div-btnt01" href="{% url 'perros' %}">Perritos 🐶</a>
      <a class="nav-link" id="div-btnt02" href="{% url 'gatos' %}">Gatitos 🐱</a>
      <a class="nav-link" id="div-btnt03" href="{% url 'aves' %}">Aves 🦜</a>
    </div>
  </container>


  <container>
    <div id="central">
      <div id="central-content">
        <div class="jumbotron">
          <img class="img-fondo" src="{% static 'images/fondo.jpg' %}" alt="">
        </div>




  </container>
</div>
</div>
</div>
</div>
</div>
</body>
{% endblock %}